@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* src/index.css ou src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif; /* Aplicando a fonte ao corpo */
  margin: 0; /* Para remover margens padrão */
  padding: 0; /* Para remover espaçamentos padrão */
  box-sizing: border-box; /* Para controle de dimensionamento */
}

/* Outros estilos globais podem ser definidos aqui */

